<div class="form-group">
  <label for="password">Password</label>
  <input ngModel #password type="password" class="form-control" id="password" aria-describedby="password-help" placeholder="enter password">
  <small id="password-help" class="form-text text-muted">Please enter at least 5 characters</small>
</div>
<div class="form-group">
  <label for="password-confirm">Password</label>
  <input ngModel #passwordConfirm type="password" class="form-control" id="password-confirm" aria-describedby="password-confirm-help" placeholder="confirm password">
  <small id="password-confirm-help" class="form-text text-muted">Confirm your password above</small>
</div>
<button type="submit" class="btn btn-primary" [disabled]="password.value !== passwordConfirm.value || password.value.length <5">OK</button>
<!--
<div>
  <p>Password: {{password.value}}</p>
  <p>Confirmation: {{passwordConfirm.value}}</p>
</div>
-->
