<!-- <p [zahl]="6" [style.font-size.px]="getFontSize()">Gewürfelt! Es ist eine {{zahl}}</p> -->
<!-- https://www.telerik.com/blogs/understanding-angular-property-binding-and-interpolation -->
<!-- Namen von Props dürfen nur rechts in HTML-Attributen stehen ??? -->

<p [style.font-size.px]="getFontSize()" [class.bingo]="zahl === 6">Gewürfelt! Es ist eine {{zahl}}</p>
<p *ngIf="zahl % 2 === 0; else oddTemplate">gerade Zahl ist rausgekommen</p>
<ng-template #oddTemplate>ungerade Zahl ist rausgekommen</app-time>

