<h1>LABS MODULE</h1>

<h2>Klassen Properties im Template ausgeben</h2>

<app-time></app-time>

<hr>

<h2>CSS über Funktionen beeinflussen, [style.font-size.px]="getFontSize()"</h2>

<app-dice></app-dice>

<hr>

<h2>Input() und Array als Input-Prop</h2>

<app-diashow [images]="[
'https://picsum.photos/300/200?image=0',
'https://picsum.photos/300/200?image=10',
'https://picsum.photos/300/200?image=20',
'https://picsum.photos/300/200?image=30'
]"></app-diashow>
<hr>

<h2>(events)</h2>
<app-mouse-over></app-mouse-over>
<hr>

<h2>@Output, EventEmitter</h2>
<app-timer [seconds]="6" (startEvent)="handleStart()" (tickEvent)="handleTick($event)" (endEvent)="handleEnd($event)"></app-timer>
<p>{{ startMessage }}</p>
<p>{{ timerMessage }}</p>
<p>{{ endMessage }}</p>
<p>From Child: {{ endMessageFromChild }}</p>
<hr>

<h2>ngModel, password confirm</h2>
<app-pwconfirm></app-pwconfirm>
<hr>

<app-active-route></app-active-route>




