<h1>LABS MODULE</h1>


<h2>Routes</h2>
<app-active-route></app-active-route>
<!--
url,[object Object]
params,[object Object]
queryParams,[object Object]
fragment,[object Object]
data,[object Object]
outlet,primary
component,class OverviewComponent { ngOnInit() { } ngOnDestroy() { console.log('Lab OverviewComponent destroy'); } onStart() { console.log("onStart"); } onTick(number) { console.log("onTick", number); } onEnd(message) { console.log("onEnd", message); } }
_futureSnapshot,Route(url:'labs', path:'labs')
_routerState,Route(url:'', path:'') { Route(url:'labs', path:'labs') }
snapshot,Route(url:'labs', path:'labs')
-->
<h2>FORMS</h2>

<app-password-confirm></app-password-confirm>


<h2>Klassen Property im Template ausgeben</h2>

<app-time></app-time>

<hr>

<h2>CSS über Funktionen beeinflussen</h2>
<app-dice [forceBingo]=true></app-dice>


<h2>class name when isBingo</h2>
<app-dice></app-dice>
<hr>


<h2>Diashow</h2>

<app-diashow [images]="[
'https://picsum.photos/300/200?image=0',
'https://picsum.photos/300/200?image=1',
'https://picsum.photos/300/200?image=2'
]"></app-diashow>


<h2>home-away</h2>

<app-home-away label="a label"></app-home-away>
<app-home-away label="another label"></app-home-away>

<app-click-counter></app-click-counter>


<app-timer [seconds]="10" (start)="onStart()" (tick)="onTick($event)" (end)="onEnd($event)"></app-timer>

